.user-item {
  .block-content {
    padding: 0px;
    margin-top: -40px;
  }

  .card-title {
    color: black;
  }

  .card-qualification {
    color: #4C5BED;
  }

  .card-email {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: black;
  }

  .drop-button {
    color: black !important;
  }
}